In [5]:
import pandas as pd

In [12]:
def buy(price):
    qty = 100/price
    pass

In [3]:
def sell():
    pass

In [ ]:
def decision(order):
    if order == 'buy':
        if bal >= 100
        #need CD
        buy()
    elif order == 'sell':
        sell()
    else:
        pass

In [11]:
hist = pd.DataFrame(columns = ['time','order_type', 'qty','tot_price','balance'])
hist

Empty DataFrame
Columns: [time, order_type, qty, tot_price, balance]
Index: []